<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Company</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo logo">
                    <a class="logo__link" href="#">
                        <img class="logo__image" src="img/header/logo.svg" alt="">
                    </a>
                </div>

                <div class="header__menu header-menu" id="menu">
                    <div class="header__burger header-burger" v-on:click="activeClassBurger"
                        v-bind:class="{ 'header-burger--active': isActive }">
                        <span class="header-burger__lines"></span>
                    </div>
                    <ul class="header-menu__list header-menu-list"
                        v-bind:class="{ 'header-menu-list--active': isActive }">
                        <li v-for="menuItem in menuList" class="header-menu-list__item">
                            <a href="" class="header-menu-list__link">
                                {{ menuItem }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- MAINCONTENT-->
    <section class="maincontent">
        <div class="container">
            <div class="maincontent__inner">
                <div class="maincontent__title title">
                    <span class="title__text text text--blue">
                        Lorem ipsum
                    </span>
                    dolor sit, amet consectetur
                    <span class="title__text text text--blue">adipisicing</span>
                </div>

                <div class="maincontent__intro">
                    <p class="maincontent__text text text--bold">At vero eos et accusamus et iusto odio dignissimos
                        ducimus!</p>
                    <p class="maincontent__text">- Totam rem aperiam eaque ipsa</p>
                    <p class="maincontent__text">- Sit voluptatem accusantium doloremque laudantium</p>
                    <p class="maincontent__text">- Sed ut perspiciatis, unde omnis iste natus error</p>
                </div>

                <div class="maincontent__buttons">
                    <button class="maincontent__button button button--blue">Заказать</button>
                    <a href="#" class="maincontent__button button button--white">Подробнее</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ORDER-->
    <section class="order">
        <div class="container">
            <div class="order__inner">
                <div class="order__title title">Оформление <span class="title__text text text--blue">заказа</span></div>
                <div class="order__text text text--grey">Перед заполнением формы ознакомтесь с нашей схемой работы</div>


                <ul class="order__progress order-progress" id="order">
                    <li v-for="order in orders" class="order-progress__item order-progress-item">
                        <img :src="`img/order/${order.image}.png`" alt="" class="order-progress-item__icon">
                        <div class="order-progress-item__text">
                            {{ order.text }}</div>
                    </li>
                </ul>

                <!-- DROPDOWN -->
                <form action="" class="order__form order-form">
                    <div class="order-form__info">
                        <div class="order-form__dropdown order-form-dropdown" id="dropdown">
                            <input :value="selected" id="drop" class="order-form-dropdown__input">
                            <label class="order-form-dropdown__label label label--size-l" for="drop"
                                v-on:click="activeClass"
                                v-bind:class="{'order-form-dropdown__label--active': isActive }">
                                {{ selected }}
                            </label>
                            <ul v-model="selected" class="order-form-dropdown__list"
                                v-bind:class="{ 'dropdown-list--active': isActive }">
                                <li v-for="selectedNew in dropdownList" class="order-form-dropdown__item"
                                    v-on:click="writeInput(selectedNew)">
                                    {{ selectedNew }}
                                </li>
                            </ul>
                        </div>
                        <div class="order-form__email">
                            <input type="email" name="" id="" placeholder="Ваш e-mail" class="order-form__input">
                        </div>
                        <div class="order-form__name">
                            <input type="text" placeholder="Ваше имя" class="order-form__input">
                        </div>
                    </div>

                    <!-- RANGE-->
                    <div class="order-form__range order-form-range" id="range">

                        <div class="order-form-range__inner">
                            <div class="order-form-range__info">
                                <div class="order-form-range__text">
                                    <p>Sed ut perspicitis, unde omnis iste natus</p>
                                </div>
                                <div class="order-form-range__total">
                                    <span class="order-form-range__value" v-text="total"></span>
                                    <span class="order-form-range__percent">%</span>
                                </div>
                            </div>
                            <input type="range" min="0" max="100" value="75" class="order-form-range__line" v-model="value">
                        </div>

                        <div class="order-form__attach order-form-attach">
                            <input type="file" id="attach" class="order-form-attach__input">
                            <label class="order-form-attach__label label label--size-l" for="attach">Прикрепить файл</label>
                        </div>
                    </div>
                    <button class="order-form__button button button--blue">Отправить</button>
                </form>
            </div>
        </div>
    </section>

    <!-- FOOTER-->
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__copyright">
                    &#169 2018 "LOREMIPSUM.NET" Все права защищены
                </div>
                <div class="footer__line"></div>
                <div class="footer__payment payment">
                    <div class="payment__item item item--qiwi">
                        QIWI wallet
                    </div>
                    <div class="payment__item item item--yandex">
                        Yandex Money
                    </div>
                    <div class="payment__item item item--webmoney">
                        WEB Money
                    </div>
                </div>
                <div class="footer__line"></div>
                <div class="footer__social social">
                    <div class="social__item item">
                        <a href="" class="item__mail">info@ipsum228.com</a>
                    </div>
                    <div class="social__item item">
                        <a href="" class="item__vk">Мы вконтакте</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>

<!--
    intro__text - стили элемента текста наход в блоке интро
     intro-text стили блока самомстоят , которые так же наход в блоке интро
     text - общие стили текста, применим в любых местах


     стили элемента = высота, ширина, позиционирование , марджин , флекс базис

     стили блока - внешняя часть , размер шрита, цвет фона, цвет текста, паддинг , флекс
 -->